<section class="food-display">
    <%= for dish <- @food do %>
        <ul>
            <li>
                <%= render "dish.html", conn: @conn, dish: dish, path: @path %>
            </li>
        </ul>
    <% end %>
</table>