<section class="phx-hero">
  <h1><%= gettext "Welcome to my %{name}!", name: "Ristorante" %></h1>
  
  <img class="home-image" src="<%= Routes.static_path(@conn, "/images/home.jpg") %>" alt="Ristorante"/>
  
  <p>A fake italian eatery that demonstrates how</br>
    easy it is to make a restaurant ordering website!</p>
</section>
